# Maven
target/

# Eclipse
bin/
.settings/
.project
.classpath

# IntelliJ
out/
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

# General
release/

# macOS specific files
.DS_STORE
