// ==UserScript==
// @name           DS Workbench Scripts (AttackInfo)
// @description    DS Workbench Attack Info Script
// @author 		   Torridity
// @namespace 	   http://www.dsworkbench.de/
// @include        https://de*.die-staemme.de/game.php?*screen=overview*
// @include        https://de*.die-staemme.de/game.php?*screen=place*
// @include        https://de*.die-staemme.de/game.php?*screen=info_village*
// @include        https://zz*.tribalwars.net/game.php?*screen=overview*
// @include        https://zz*.tribalwars.net/game.php?*screen=place*
// @include        https://zz*.tribalwars.net/game.php?*screen=info_village*
// @exclude        https://de*.die-staemme.de/game.php?*mode=combined*
// @exclude        https://zz*.tribalwars.net/game.php?*mode=combined*
// ==/UserScript==

var win = window.opera ? window:unsafeWindow;

$$PARAMETER_LOCATION

$$DATA_LOCATION

var $ = typeof unsafeWindow != 'undefined' ? unsafeWindow.$ : window.$;
$.ajaxSetup({ cache: true });
$.getScript('http://scripts.die-staemme.de/gm-scripts/wb_attack_info.js');
