<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>

<speed>1.6</speed>
<unit_speed>0.625</unit_speed>
<moral>1</moral>
<build_queue>1</build_queue>
<build>
  <destroy>1</destroy>
</build>
<misc>
  <log_losses>1</log_losses>
  <kill_ranking>2</kill_ranking>
  <tutorial>1</tutorial>
  <millis_arrival>1</millis_arrival>
  <command_cancel_time>600</command_cancel_time>
  <trade_cancel_time>300</trade_cancel_time>
  <free_premium_points>500</free_premium_points>
  <free_premium_points2>15000</free_premium_points2>
  <more_premium>1</more_premium>
  <online_time>300</online_time>
</misc>
<newbie>
  <days>5</days>
  <ratio_days>60</ratio_days>
  <ratio>20</ratio>
</newbie>
<game>
  <base_config>6</base_config>
  <knight>2</knight>
  <archer>1</archer>
  <tech>2</tech>
  <spy>10</spy>
  <farm_limit>0</farm_limit>
  <church>0</church>
  <high_buildings>2</high_buildings>
  <hb_offset>30000</hb_offset>
  <hb_factor>3000</hb_factor>
  <fake_limit>1</fake_limit>
  <barbarian_rise>0.003</barbarian_rise>
</game>
<snob>
  <gold>1</gold>
  <cheap_rebuild>1</cheap_rebuild>
  <simple>1</simple>
  <rise>2</rise>
  <max_dist>70</max_dist>
</snob>
<ally>
  <no_harm>0</no_harm>
  <no_other_support>0</no_other_support>
  <no_leave>0</no_leave>
  <no_admin>0</no_admin>
  <limit>0</limit>
  <fixed_allies>0</fixed_allies>
  <diplomacy>1</diplomacy>
  <points_member_count>40</points_member_count>
  <bypass_igm_block>0</bypass_igm_block>
  <admin_bypass_igm_block>0</admin_bypass_igm_block>
</ally>
<win>
  <check>0</check>
  <points>0</points>
  <villages>0</villages>
  <hours>0</hours>
</win>
<coord>
  <sector>2</sector>
  <map_new>1</map_new>
  <map>1</map>
  <func>4</func>
  <empty_villages>0</empty_villages>
  <bonus_villages>10</bonus_villages>
  <inner>16000</inner>
  <select_start>1</select_start>
  <village_move_wait>336</village_move_wait>
</coord>
<sitter>
  <allow>1</allow>
  <illegal_time>24</illegal_time>
  <block_after>1</block_after>
</sitter>
<sleep>
  <active>0</active>
  <delay>60</delay>
  <min>6</min>
  <max>10</max>
  <min_awake>12</min_awake>
  <max_awake>36</max_awake>
  <warn_time>10</warn_time>
</sleep>

</config>