<div class="odd_div" style="font-size:65%;text-align:right"><p>Erstellt mit <a href="https://github.com/Torridity/dsworkbench" target="_blank">DS Workbench</a> $VERSION am $CREATION_DATE</p>
</div>
</body>
</html>