<div id="cont" class="$DIV_CLASS">
<a href="#" onClick="SwitchMenu('tab$ID', this);"><div class="fold_close_image"></div></a>
<table id="tab$ID" width="100%" cellspacing="0" cellpadding="0" >
    <tr>
      <td width="222" class="head_left"><strong>Herkunft</strong></td>
      <td width="32" class="head_left"><div class="source_image"></div></td>
      <td width="132" class="head_center">$UNIT</td>
      <td width="32" class="head_right"><div class="target_image"></div></td>
      <td width="222" class="head_right"><strong>Ziel</strong></td>
    </tr>
    <tr>
      <td colspan="5" class="spacing">
      </td>
    </tr>
    <tr>
      <td class="data_left"><a href="$SOURCE_PLAYER_LINK" target="_blank">$SOURCE_PLAYER_NAME</a></td>
      <td></td>
      <td class="data_center"><div class="troops_image"></div></td>
      <td></td>
      <td class="data_right"><a href="$TARGET_PLAYER_LINK" target="_blank">$TARGET_PLAYER_NAME</a></td>
    </tr>
    <tr>
      <td class="data_left"><a href="$SOURCE_ALLY_LINK" target="_blank">$SOURCE_ALLY_NAME</a></td>
      <td></td>
      <td class="data_center"><div class="ally_image"></div></td>
      <td></td>
      <td class="data_right"><a href="$TARGET_ALLY_LINK" target="_blank">$TARGET_ALLY_NAME</a></td>
    </tr>
    <tr>
      <td class="data_left"><a href="$SOURCE_VILLAGE_LINK" target="_blank">$SOURCE_VILLAGE_NAME</a></td>
      <td></td>
      <td class="data_center"><div class="village_image"></div></td>
      <td></td>
      <td class="data_right"><a href="$TARGET_VILLAGE_LINK" target="_blank">$TARGET_VILLAGE_NAME</a></td>
    </tr>
	<tr>
      <td class="time_left">$SEND_TIME</td>
      <td></td>
      <td class="data_center"><div class="clock_image"></div><span class="countdown" style="font-size:85%;font-weight: bold;" title="$SEND_TIME">countdown</span></td>
      <td></td>
      <td class="time_right">$ARRIVE_TIME</td>
    </tr>
	 <tr>
      <td colspan="5" class="spacing"></td>
    </tr>
	 </tr>
	 <tr>
	 <td class="footer_left"><a href="$PLACE" target="_blank">Versammlungsplatz</a></td>
      <td></td>
      <td class="footer_center"><img src="http://www.torridity.de/tools/res/firefox.png"></td>
      <td></td>
      <td class="data_right">$TYPE</td>
	  </td>
    </tr>
  </table>
</div>