<div id="cont" class="$DIV_CLASS">
<a href="#" onClick="SwitchMenu('tab$ID');"><img src="http://www.dsworkbench.de/DSWorkbench/export/fold.gif" width="16" height="16" style="border:0;"></a>
<table id="tab$ID" width="100%" cellspacing="0" cellpadding="0" >

</tr>
<tr>
<td colspan="5" class="spacing">
</td>

</tr>
<tr>
<td colspan="5" class="spacing"></td>
</tr>
</tr>
<tr>
<td class="footer_left"><a href="$PLACE" target="_blank">Versammlungsplatz</a></td>
<td></td>
<td class="footer_center"><img style="margin:0px 5px -3px 0px;" src="http://www.dsworkbench.de/DSWorkbench/export/clock.png"><span class="countdown" style="font-size:85%;font-weight: bold;" title="$SEND_TIME">countdown</span></td>
<td></td>
<td class="data_right">$TYPE</td>
</td>
</tr>
</table>
</div>