<table width="400"style="border: solid 1px black; padding: 4px;background-color:#EFEBDF;">
  <tr>
    <td colspan="2" bgcolor="#E1D5BE"><strong>$VILLAGE_NAME</strong></td>
  </tr>
  <tr>
    <td width="50" bgcolor="#E1D5BE"><strong>Punkte:</strong></td>
    <td width="350" >$VILLAGE_POINTS</td>
  </tr>
  <tr>
    <td width="50"><strong>Besitzer:</strong></td>
    <td>$VILLAGE_OWNER</td>
  </tr>
  <tr>
    <td width="50"><strong>Stamm:</strong></td>
    <td>$VILLAGE_ALLY</td>
  </tr>
  <tr>
    <td width="50"><strong>Moral:</strong></td>
    <td>$VILLAGE_MORAL</td>
  </tr>
   <tr>
    <td width="50"><strong>Tags:</strong></td>
    <td>$VILLAGE_TAGS</td>
  </tr>
   <tr>
    <td colspan="2">$UNIT_TABLE</td>
  </tr>
</table>