 <div id="$ALLY_DIV_ID" class="even_div">
 <a href="#" onClick="SwitchMenu('$ALLY_DIV_ID','$ALLY_TAB_ID');" style="font-size: 80%;"><img src="http://www.dsworkbench.de/DSWorkbench/export/fold.gif" width="16" height="16" style="border:0px; vertical-align:middle">$ALLY_NAME</a>
  <table id="$ALLY_TAB_ID" width="100%" cellspacing="0" cellpadding="0" style="display:none">
  <tr >
      <td rowspan="2" class="ally_symbol"><img src="http://www.dsworkbench.de/DSWorkbench/export/ally.png"></td>
      <td class="ally_field">Name</td>
      <td class="ally_content">$ALLY_NAME</td>
	  <td class="information_field">Informationen</td>
  </tr>
	 <tr>
     <td class="ally_field">Member</td>
     <td class="ally_content">$ALLY_MEMBER</td>
     <td class="information_data">$ALLY_GUEST_LINK</td>
    </tr>
	 <tr>
     <td>&nbsp;</td>
     <td class="ally_field">D&ouml;rfer</td>
     <td class="ally_content">$ALLY_VILLAGES</td>
     <td class="information_data">$ALLY_DSREAL_LINK</td>
    </tr>
	 <tr>
     <td>&nbsp;</td>
     <td class="ally_field">Punkte (Rang)</td>
     <td class="ally_content">$ALLY_POINTS</td>
     <td class="information_data">$ALLY_TWPLUS_LINK</td>
    </tr>
    <tr>
     <td>&nbsp;</td>
     <td class="ally_field">Off</td>
     <td class="ally_content">$ALLY_OFF</td>
     <td class="ally_content">&nbsp;</td>
    </tr>
    <tr>
     <td>&nbsp;</td>
     <td class="ally_field">Deff</td>
     <td class="ally_content">$ALLY_DEFF</td>
     <td class="ally_content" >&nbsp;</td>
    </tr>
  </table>
$TRIBE_DATA
</div>
