<div id="cont" class="$DIV_CLASS">
<a href="#" onClick="SwitchMenu('tab$ID');"><img src="http://www.dsworkbench.de/DSWorkbench/export/fold.gif" width="16" height="16" style="border:0;"></a>
<table id="tab$ID" width="100%" cellspacing="0" cellpadding="0" >
    <tr>
      <td width="222" class="head_left"><strong>Herkunft</strong></td>
      <td width="32" class="head_left"><img src="http://www.dsworkbench.de/DSWorkbench/export/source.png"></td>
      <td width="132" class="head_center">$UNIT</td>
      <td width="32" class="head_right"><img src="http://www.dsworkbench.de/DSWorkbench/export/target.png"></td>
      <td width="222" class="head_right"><strong>Ziel</strong></td>
    </tr>
    <tr>
      <td colspan="5" class="spacing">
      </td>
    </tr>
    <tr>
      <td class="data_left">$SOURCE_TRIBE</td>
      <td></td>
      <td class="data_center"><img src="http://www.dsworkbench.de/DSWorkbench/export/troops.png"></td>
      <td></td>
      <td class="data_right">$TARGET_TRIBE</td>
    </tr>
    <tr>
      <td class="data_left">$SOURCE_ALLY</td>
      <td></td>
      <td class="data_center"><img src="http://www.dsworkbench.de/DSWorkbench/export/ally.png"></td>
      <td></td>
      <td class="data_right">$TARGET_ALLY</td>
    </tr>
    <tr>
      <td class="data_left">$SOURCE_VILLAGE</td>
      <td></td>
      <td class="data_center"><img src="http://www.dsworkbench.de/DSWorkbench/export/village.png"></td>
      <td></td>
      <td class="data_right">$TARGET_VILLAGE</td>
    </tr>
	<tr>
      <td class="time_left">$SEND_TIME</td>
      <td></td>
      <td class="data_center"><img style="margin:0px 5px -3px 0px;" src="http://www.dsworkbench.de/DSWorkbench/export/clock.png"><span class="countdown" style="font-size:85%;font-weight: bold;" title="$SEND_TIME">countdown</span></td>
      <td></td>
      <td class="time_right">$ARRIVE_TIME</td>
    </tr>
	 <tr>
      <td colspan="5" class="spacing"></td>
    </tr>
	 </tr>
	 <tr>
	 <td class="footer_left">$PLACE</td>
      <td></td>
      <td class="footer_center"><img src="http://www.dsworkbench.de/DSWorkbench/export/firefox.png"></td>
      <td></td>
      <td class="data_right">$TYPE</td>
	  </td>
    </tr>
  </table>
</div>