<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript" src="http://torridity.de/tools/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://torridity.de/tools/dswb.css" />
<title>Angriffsplan</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">

function SwitchMenu(obj){
if(document.getElementById){
var el = document.getElementById(obj);
var ar = document.getElementById("cont").getElementsByTagName("DIV");
if(el.style.display == "none"){
  for (var i=0; i<ar.length; i++){
    ar[i].style.display = "none";
  }
   el.style.display = "";
  }else{
    el.style.display = "none";
  }
}
}
    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
	var countdownElements = document.getElementsByClassName('countdown');
	 for (var i=0; i<countdownElements.length; i++){
		var end = moment(countdownElements[i].title, "DD.MM.YYYY HH:mm:ss").toDate();
		var now = new Date();
        var distance = end - now;
        if (distance < 0) {
            //clearInterval(timer);
            countdownElements[i].innerHTML = "<strong style='color:red'>Abgelaufen!</strong>";
			continue;
        }
        var days = Math.floor(distance / _day);
        var hours = 24 * days + Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);

        countdownElements[i].innerHTML = hours + 'h ';
        countdownElements[i].innerHTML += minutes + 'm ';
        countdownElements[i].innerHTML += seconds + 's';
    }
	}

    timer = setInterval(showRemaining, 1000);
</script>
</head>

<body>
<div class="even_div">
 <table width="100%" cellspacing="0" cellpadding="0">
   <tr>
     <td colspan="4"><div align="center" style="font-size:140%; font-weight: bold;text-decoration:underline;">Angriffsplan</div></td>
    </tr>
	  <tr style="font-size:70%;">
		<td colspan="4">&nbsp;</td>
	 </tr>
   <tr style="font-size:70%;">
     <td class="head_left"><strong>Ersteller:</strong></td>
     <td width="249" class="head_left"> <div align="left">$CREATOR</div></td>
     <td width="249" class="head_left"><strong>Welt:</strong></td>
     <td width="70" class="head_right">$SERVER</td>
    </tr>
   <tr style="font-size:70%;">
      <td width="70" class="head_left"><strong>Planname:</strong></td>
      <td class="head_left"><div align="left">$PLANNAME</div></td>
      <td class="head_left"><strong>Angriffe:</strong></td>
      <td class="head_right">$ATTACK_COUNT</td>
    </tr >

  </table>
</div>
