 <div id="$VILLAGE_DIV_ID" class="even_div" style="margin:0px 0px 0px 20px;width:600px ">
 <a href="#" onClick="SwitchMenu('$VILLAGE_DIV_ID','$VILLAGE_TAB_ID');" style="font-size: 80%;"><img src="http://www.dsworkbench.de/DSWorkbench/export/fold.gif" width="16" height="16" style="border:0px; vertical-align:middle">$VILLAGE_NAME</a>
 <table id="$VILLAGE_TAB_ID" width="100%" cellspacing="0" cellpadding="0" style="font-size:70%;display:none ">
     <tr>
      <td class="village_symbol" rowspan="2" ><img src="http://www.dsworkbench.de/DSWorkbench/export/village.png"></td>
      <td class="village_field">Name</td>
      <td class="village_content" >$VILLAGE_NAME</td>
      <td class="information_field">Informationen</td>
     </tr>
	 <tr>
	   <td class="village_field">Kontinent</td>
	   <td class="village_content" >$VILLAGE_CONTINENT</td>
	   <td class="information_data">$VILLAGE_INGAME_LINK</td>
	 </tr>
	 <tr>
     <td>&nbsp;</td>
     <td class="village_field">Punkte</td>
     <td class="village_content">$VILLAGE_POINTS</td>
     <td>&nbsp;</td>
	 </tr>
  </table>
</div>
