<div id="$TRIBE_DIV_ID" class="even_div" style="margin:0px 0px 0px 20px;width:620px">
 <a href="#" onClick="SwitchMenu('$TRIBE_DIV_ID','$TRIBE_TAB_ID');" style="font-size: 80%;"><img src="http://www.dsworkbench.de/DSWorkbench/export/fold.gif" width="16" height="16" style="border:0px; vertical-align:middle">$TRIBE_NAME</a>
 <table id="$TRIBE_TAB_ID" width="100%" cellspacing="0" cellpadding="0" style="font-size:70%;display:none ">
     <tr>
      <td class="tribe_symbol" rowspan="2" ><img src="http://www.dsworkbench.de/DSWorkbench/export/troops.png"></td>
      <td class="tribe_field">Name</td>
      <td class="tribe_content">$TRIBE_NAME</td>
      <td class="information_field">Informationen</td>
     </tr>
	 <tr>
     <td class="tribe_field">D&ouml;rfer</td>
     <td class="tribe_data">$TRIBE_VILLAGES</td>
     <td class="information_data">$TRIBE_GUEST_LINK</td>
	 </tr>
	 <tr>
     <td>&nbsp;</td>
     <td class="tribe_field">Punkte (Rang)</td>
     <td class="tribe_data">$TRIBE_POINTS</td>
     <td class="information_data">$TRIBE_DSREAL_LINK</td>
	 </tr>
    <tr>
     <td>&nbsp;</td>
     <td class="tribe_field">Off (Rang)</td>
     <td class="tribe_data">$TRIBE_OFF</td>
     <td class="information_data">$TRIBE_TWPLUS_LINK</td>
    </tr>
    <tr>
     <td>&nbsp;</td>
     <td class="tribe_field">Deff (Rang)</td>
     <td class="tribe_data">$TRIBE_DEFF</td>
     <td>&nbsp;</td>
    </tr>
  </table>
$VILLAGE_DATA
</div>
