// ==UserScript==
// @name           DS Workbench Scripts (AttackInfo)
// @description    DS Workbench Attack Info Script
// @author 		   Torridity
// @namespace 	   http://www.dsworkbench.de/
// @include        http://de*.die-staemme.de/game.php?*screen=overview*
// @include        http://de*.die-staemme.de/game.php?*screen=place*
// @include        http://de*.die-staemme.de/game.php?*screen=info_village*
// @include        http://zz*.tribalwars.net/game.php?*screen=overview
// @include        http://zz*.tribalwars.net/game.php?*screen=place*
// @include        http://zz*.tribalwars.net/game.php?*screen=info_village*
// ==/UserScript==

var win = window.opera ? window:unsafeWindow;

$$PARAMETER_LOCATION

$$DATA_LOCATION

/*
win.showAttacksInVillageInfo = 1;
win.showAttacksOnConfirmPage = 1;
win.showAttackOnCommandPage = 1;
win.showAttacksInOverview = 1;
win.attacks = new Array({
'type':'axe.png',
'sourceName':'Source_Village_Plain_Name',
'source':5008,
'xs':500,
'ys':500,
'target':5447,
'xt':500,
'yt':500,
'targetName':'Target_Village_Plain_Name',
'unit':'ram.png',
'send':'15.02.11 13:19:24.753',
'arrive':'17.02.11 21:22:45.545',
'expired':1297984165
});*/

win.$.getScript('http://scripts.die-staemme.de/gm-scripts/wb_attack_info.js');
