<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script src="http://www.dsworkbench.de/DSWorkbench/export/mootools.js" type="text/javascript"></script>
<script src="http://www.dsworkbench.de/DSWorkbench/export/mooRainbow.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="http://www.dsworkbench.de/DSWorkbench/export/selection.css"/>
<title>Dorfliste</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/javascript">
function SwitchMenu(obj1, obj){
if(document.getElementById){
var el = document.getElementById(obj);
var ar = document.getElementById(obj1).getElementsByTagName("TABLE");
if(el.style.display == "none"){
el.style.display = "block";
}else{
el.style.display = "none";
//for (var i=0; i<ar.length; i++){
ar[0].style.display = "none";
}
}
}

</script>
</head>
<body>